*{
          margin: 0%;
          padding: 0%;
}


@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

body {
          font-family: "Cairo", sans-serif;
          direction: rtl; 
      }
      
      nav {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px;
          color: #0077CD;
      }
      
      .logo img {
          height: 90px; /* Adjust height of logo as needed */
      }
      
      .nav-links{
          display: flex;
          justify-content: start;
          width: 800px;
      }
      .nav-links a {
          margin: 0px 20px ;
          color: #0077CD;
          text-decoration: none;
          font-size: 20px;
          font-weight: 800;
          font-family: "Cairo", sans-serif;
      }
      
      .buttons button {
          margin: 0 10px;
          padding: 10px 25px; /* Wider padding for buttons */
          border: none;
          background-color: #0077cd;
          color: #fff;
          transition:  0.3s; /* Smooth transition for hover effect */
          border-radius: 15px;
          font-size: 15px;
      }
      
      .buttons button:hover {
          background-color: #00508e; 
      }
      #sign-in-button{
          background-color: white;
          color: #0077CD;
      }


.background-image {
          background-image: url('../IMG/maincontentaboutus\ .png');
          background-size: cover;
          background-position: center;
          height: 500px;
          width: 1000px;
          margin-top: 50px;
          margin-right: 11%; 
        }



        footer {
          background-color: #0077CD;
          color: white;
          padding: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        
        .social-media {
          display: flex;
        }
        
        .social-media a {
          margin-right: 10px;
          gap: 20px;
          height: 50px;
          width: 50px;
        }
        
        .contact-info {
          text-align: center;
        }
        
        .logo img {
          width: 100px; /* Adjust the size as needed */
        }